- name: Install Nginx
  apt:
    name: nginx
    state: present
    update_cache: yes
    cache_valid_time: 3000
- name: Sample HTML template
  template:
    src: index.html.j2
    dest: /var/www/html/index.nginx-debian.html
    owner: www-data
    group: www-data
    mode: '0644'
  notify: Reload Nginx
